# --- GitHub Linguist configuration ---
# Tandai file PHP sebagai bahasa utama
*.php linguist-detectable=true

# Abaikan file JS, TS, CSS, dan Vue agar tidak dihitung
*.js linguist-detectable=false
*.ts linguist-detectable=false
*.vue linguist-detectable=false
*.css linguist-detectable=false
*.json linguist-detectable=false

# Folder yang dianggap sebagai file vendor / build hasil compile
/vendor/* linguist-vendored
/node_modules/* linguist-vendored
/public/js/* linguist-vendored
/public/css/* linguist-vendored
/public/build/* linguist-vendored
/resources/js/* linguist-vendored
